aside.main-sidebar
    section.sidebar
        ul.sidebar-menu
            li.treeview
                a(href='#')
                    i.fa.fa-gauge-simple
                    span
                        | TR Motor
                    span.pull-right-container
                        i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li
                        a(href='/bengkel')
                            i.fa.fa-align-left
                            | Mobil
